/* Font settings*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

@font-face {
  font-family: 'Verdana';
  src: url('../font/Verdana-BoldItalic.woff') format('woff'),
    url('../font/Verdana-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Verdana';
  src: url('../font/Verdana-Italic.woff') format('woff'),
    url('../font/Verdana-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Verdana';
  src: url('../font/Verdana.woff') format('woff'),
    url('../font/Verdana.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana';
  src: url('../font/Verdana-Bold.woff') format('woff'),
    url('../font/Verdana-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Smythe', cursive, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5;
}

.main {
  width: 600px;
  height: 1161px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */
.header {
  width: 600px;
  height: 167px;
  font-family: 'Smythe', sans-serif;
  background-image: url('../images/ferks-guare.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.title {
  margin: 0;
  padding-top: 46px;
  padding-left: 46px;
  padding-bottom: 26px;
  font-weight: 400;
  font-size: 40px;
  line-height: 24px;
}

.description {
  padding-left: 46;
  font-weight: 400;
  font-size: 22;
  line-height: 14px;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__item {
  display: flex;
  width: 508px;
  height: 140px;
  border-bottom: 1px solid #d2d2d2;
  justify-content: center;
  align-items: center;
}

.menu__emoji {
  font-size: 60px;
  margin-right: 31px;
}

.menu__description {
  width: 358px;
  height: 70px;
}

.menu__name {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 26px;
}

.menu__ingredients {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8b8b8b;
}

.menu__price {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.menu__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #8b8b8b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__plus {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #3c3c3c;
  font-weight: 200;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

/* Order */

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__title {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  margin: 45px;
}

.order__item {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.order__desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__name {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  color: #000000;
}

.order__remove {
  background-color: white;
  border: none;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #bbbbbb;
  cursor: pointer;
}

.order__dollar,
.order__price,
.total__price {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* Order result */
.order__result {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-top: 2px solid #393333;
}

.order__total {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 17px;
  padding-top: 18px;
}

.order__result {
  padding-bottom: 50px;
}

.order__complete {
  width: 508px;
  background: #16db99;
  border: none;
  padding: 20px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

.order__dollar {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Card */
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card__container {
  width: 524px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 3.88991px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.card__details {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 45px 0px;
}

.card__input {
  width: 475px;
  height: 71px;
  resize: none;
  border: 1px solid #757575;
  border-radius: 4px;
  margin-bottom: 23px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  padding: 20px;
}

.card__btn {
  width: 475px;
  height: 71px;
  background-color: #16db99;
  border-radius: 3.88991px;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Message */
.message__box {
  width: 504px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  background: #ecfdf5;
  border-radius: 3px;
}

.message__text {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 17px;
  color: #065f46;
}
